<!-- Header -->
<div id="header-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<header id="header">
					<h1><a href="index.html" id="logo">AniShop</a></h1>
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="twocolumn1.html">Stikers</a>
						<a href="twocolumn2.html" class="current-page-item">Figurines</a>
						<a href="onecolumn.html">Login</a>
						<a href="threecolumn.html">Admin</a>
					</nav>
				</header>

			</div>
		</div>
	</div>
</div>